<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        #main-container{
            display: block;
        }

        #error-box{
            display: none;
        }

        #success-box{
            display: none;
        }

    </style>

    <h1>Forgot Password </h1>

    <div id='main-container'>
        <form>

            <label for='email'>Email</label>
            <input type='text' name='email' />
            </br> </br>

            <button>Send</button>

        </form>
    </div>

    <div id='error-box'>
        <h1>User Doesn't exists</h1>
    </div>

    <div id='success-box'>
        <h1>Email successfully sent</h1>
    </div>

    <script>

        const form = document.querySelector('form');

        const mainContent = document.getElementById('main-container');
        const errorBox = document.getElementById('error-box');
        const successBox = document.getElementById('success-box');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            email = form.email.value;


            try {
                const res = await fetch('/forgot-password', {
                    method: 'POST',
                    body: JSON.stringify({ email}),
                    headers: { 'Content-Type' : 'application/json' },
                })

                const data = await res.json();
                console.log(data);
                console.log(email);

                if(data.errors){
                    if(mainContent.style.display = 'block'){
                        mainContent.style.display = 'none';
                    }
                    if(errorBox.style.display = 'none'){
                        errorBox.style.display = 'block'
                    }

                } 
                
                if(data.user) {
                    email.value = ''
                    if(mainContent.style.display = 'block'){
                        mainContent.style.display = 'none';
                    }
                    console.log(successBox)
                    if(successBox.style.display = 'none'){
                        successBox.style.display = 'block'
                    }
                }


            } catch(err){
                console.log(err)
            }

            console.log(email);

        })


    </script>
</body>
</html>