<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

    <form class="modal-content">
        <div class="container">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for='username'>Username</label>
            <input type='text' placeholder="Enter Username" name='username' />
            <div class='username-error'></div><br>
    
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            <div class='email-error'></div><br>
    
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <div class='password-error'></div><br>
    
            <label for="confirm_password"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            <div class='confirm_password-error'></div><br>
        
            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
    </form>


    <script>

        const form = document.querySelector('form');
        const usernameError = document.querySelector('.username-error')
        const emailError = document.querySelector('.email-error')
        const passwordError = document.querySelector('.password-error')
        const confirmpasswordError = document.querySelector('.confirm_password-error')

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // reset errors
            usernameError.textContent = '';
            emailError.textContent = '';
            passwordError.textContent = '';
            confirmpasswordError.textContent = '';

            // get the values
            const username = form.username.value;
            const email = form.email.value;
            const password = form.password.value;
            const confirmPassword = form.confirm_password.value;

            try{
                const res = await fetch('/signup', {
                        method: 'POST',
                        body: JSON.stringify({ username, email, password, confirmPassword }),
                        headers: { 'Content-Type': 'application/json' }
                })

                const data = await res.json();
                console.log(data);

                if(data.errors) {
                    usernameError.textContent = data.errors.username;
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                    confirmpasswordError.textContent = data.errors.confirmPassword;
                }
                if(data.user) {
                    location.assign('/login');
                }

                form.username.value = username;
                form.email.value = email;
                form.password.value = '';
                form.confirm_password.value = '';

            } catch(err){
                console.log(err)
            }

            console.log(username, email, password, confirmPassword);
        })

    </script>
</body>
</html>